# Default values for chisel-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1 # Right now only 1 replica is supported
# LeaderElection and multiple replicas may be supported in the future.
# For now, we recommend running only 1 replica else Chisel Operator may constantly
# recreate resources, wasting your API resources and costing you money.

image:
  repository: ghcr.io/fyralabs/chisel-operator
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag:
  # LOGGER default: set a default logger for the container if desired. By default the operator uses 'logfmt' but this value will only be used if you configure the container to use IMAGE env or override in Helm templates.
  logger: "" # Optional override for the container LOGGER env var; empty means no override

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Optional load balancer class handled by the operator. When empty, all LoadBalancer
# services are reconciled, matching the default behavior.
loadBalancerClass: ""

# Create CRDs for Chisel Operator
createCrds: true

# Set the logger used by the operator.
# Valid options are: "logfmt", "pretty", "json", "compact"
# Default is "logfmt"
logger: "logfmt"

# Extra environment variables to add to the operator container
# Format:
# extraEnv:
#   - name: MY_VAR
#     value: "value"
extraEnv: []

# Extra volumes to mount on pod level (standard k8s Volume objects)
# Example:
# extraVolumes:
#   - name: custom-config
#     configMap:
#       name: my-config
extraVolumes: []

# Extra volume mounts for the operator's container
# Example:
# extraVolumeMounts:
#   - name: custom-config
#     mountPath: /etc/chisel
extraVolumeMounts: []
